<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {block name="title"}
    <title>模型测试</title>
    {/block}

    {block name="css"}
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css?v=2">
    <link rel="stylesheet" href="{:url('index/layui', '', false)}">
    {/block}
    {block name="style"}
    {/block}

    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/layer/2.4/layer.min.js"></script>
    <script>var Zepto = jQuery</script>

</head>
<body>
<div class="layui-main">
    {block name="menus"}
    <header>
        <ul class="layui-nav" lay-filter="">
            {foreach $menus as $key => $item}
            <li class="layui-nav-item {if $key == $currentMenu}layui-this{/if}"><a href="{$item.url}">{$item.title}</a></li>
            {/foreach}
        </ul>
    </header>
    {/block}

    {block name="content"}

    {/block}
</div>
</body>

{block name="js"}

{/block}
</html>